<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
    layout:decorate="template">

<head>
    <title>Edit Product</title>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div layout:fragment="content" class="container mt-4">
        <div class="row mb-3">

            <div class=" container col">
                <form th:object="${product}" th:action="@{/product/edit/{id}(id=${product.id})}" method="post">
                    <div>
                        <h1 style="text-align: center;">Edit Product</h1>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-3">
                            <label for="name" class="form-label">Name</label>
                            <input th:field="*{name}" type="text" class="form-control" id="name"
                                name="name">
                        </div>
                        <div class="col-md-3">
                            <label for="price" class="form-label">Price</label>
                            <input required th:field="*{price}" type="text" class="form-control" id="price" name="price"
                                oninput="validateNum(this)" placeholder="Enter Price">
                            <div id="numberError" class="text-danger" style="display: none;">
                                Please enter numbers only for price.
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="code" class="form-label">Code</label>
                            <input required th:field="*{code}" type="text" class="form-control" id="code" name="code"
                                oninput="validateNum(this)" placeholder="Enter Code">
                            <div id="numberError" class="text-danger" style="display: none;">
                                Please enter numbers only for Code.
                            </div>
                        </div>
                    </div>
                    <div class="row g-3 mt-3">
                        <div class="col-md-3">
                            <label for="tax" class="form-label">TAX</label>
                            <input required th:field="*{tax}" type="text" class="form-control" id="tax" name="tax"
                                oninput="validateNum(this)" placeholder="Enter Tax Numbers">
                            <div id="numberError" class="text-danger" style="display: none;">
                                Please enter numbers only for tax number.
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="currency" class="form-label">Currency</label>
                            <input required th:field="*{currency}" type="currency" class="form-control" id="currency"
                                name="currency" placeholder="Enter Currency">
                        </div>
                        <div class="col-md-3">
                            <label for="unit" class="form-label">Unit</label>
                            <input required th:field="*{unit}" type="text" class="form-control" id="unit" name="unit"
                                placeholder="Enter Unit">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="description" class="form-label">Description</label>
                        <textarea th:field="*{description}" class="form-control" id="description" rows="3"
                            name="description" placeholder="Enter description"></textarea>
                    </div>
                    <hr class="dropdown-divider">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                    <hr class="dropdown-divider">
                </form>
            </div>
        </div>
    </div>
</body>

</html>
<script>
    function validateNum(input) {
        var num = input.value;
        var regex = /^[0-9]+$/;
        if (!regex.test(num)) {
            document.getElementById("numberError").style.display = "block";
        } else {
            document.getElementById("numberError").style.display = "none";
        }
    }
</script>