<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="template">
<head>
    <title>Register</title>
</head>
<body>
<h1>Register</h1>

<div layout:fragment="content" class="row">
    <div class="col-1" style="width: 10%;">
        <div>
            <a th:href="@{'/user/list'}" class="btn btn-primary" role="button" style="margin: 10%">Back
                List</a>
        </div>
    </div>
    <div class="col">
        <h3>Create User</h3>
        <div th:if="${error}" class="alert alert-danger" role="alert">
            <p th:text="${error}"></p>
        </div>
        <div th:if="${message}" class="alert alert-success" role="alert">
            <p th:text="${message}"></p>
        </div>

        <form th:object="${user}" th:action="@{/user/new}" method="post">
            <div class="row g-3">
                <div class="col-md-3">
                    <label for="email" class="form-label">Email</label>
                    <input required th:field="*{email}" type="email" class="form-control" id="email"
                           name="email" placeholder="Enter email">
                </div>
                <div class="col-md-3">
                    <label for="password" class="form-label">Password</label>
                    <input required th:field="*{password}" type="text" class="form-control" id="password"
                           name="password" placeholder="Enter password">
                </div>
            </div>
            <div class="mb-3 mt-3">
                <label>Department</label>
                <select class="form-control department-select" required>
                    <option value="">--Chon--</option>
                    <th:block th:each="department : ${departments}">
                        <option th:value="${department.email}"
                                th:text="${department.nameDepartment}">
                        </option>
                    </th:block>
                </select>
                <input type="hidden" class="form-control departmentEmail" name="departmentMail" id="department-email">
            </div>
            <div class="mb-3 mt-3">
                <label>Role</label>
                <select id="role" name="roleId" class="form-control role-select" required>
                    <option value="">--Chọn--</option>
                    <th:block th:each="role : ${roles}">
                        <option th:value="${role.id}"
                                th:text="${role.roleName}">
                        </option>
                    </th:block>
                </select>
            </div>
            <input type="hidden" class="form-control role" name="roleId" id="roleId">
            <button type="submit">Save</button>
        </form>
    </div>
</div>





</body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', function () {
       document.querySelector('.department-select').addEventListener('change', function () {
           const selectedOption = this.options[this.selectedIndex];
           const email = selectedOption.value;
           document.getElementById('department-email').value = email ;
           console.log(email)
       });

       document.querySelector('.role-select').addEventListener('change', function () {
        const selectedOption = this.options[this.selectedIndex];
        const id = selectedOption.value;
        document.getElementById('roleId').value = id;

        // If you want to log the selected role's ID
        console.log("Selected Role ID:", id);

        // Ensure 'email' is defined if you want to use it, or remove this line
        // console.log(email);
    });
    });
</script>