<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="template" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content">
        <form th:action="@{/user/update/{email}(email=${user.email})}" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input th:value="${user.email}" type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" disabled="true">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="firstname" class="form-label">First name</label>
                <input th:value="${user.firstName}" type="text" name="firstName" class="form-control" id="firstname">
            </div>
            <div class="mb-3">
                <label for="lastname" class="form-label">Last name</label>
                <input th:value="${user.lastName}" type="text" name="lastName" class="form-control" id="lastname">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</body>
</html>